@page
@model CarStore.Pages.Products.IndexModel

<h3>Welcome to the cars section</h3>

<div class="row justify-content-center mt-5 gap-3">
    @foreach(var car in @Model.Products)
    {
        var PhotoPath = "~/Photo/" + (@car.PhotoPath ?? "noimage.jpg");
        <div class="col-lg-3 d-flex flex-column gap-1 align-items-center border border-1 rounded-1">
            <h5 class="text-center my-1 header">@car.Name</h5>
            <img class="rounded-1 photo-style" src="@PhotoPath" asp-append-version="true"/>
            <div class="rounded-1 mb-2">
                <button type="button" class="btn btn-sm btn-success">View</button>
                <button type="button" class="btn btn-sm btn-info">Edit</button>
                <button type="button" class="btn btn-sm btn-danger">Delete</button>
            </div>
        </div>
    }
    
</div>
