html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.photo-style{
    height:100px;
    width: 80%;
    border: 1px solid gray;
}

@media(max-width: 992px){
    .photo-style {
        height: auto;
        width: 50%;
        border: 1px solid gray;
    }
    .header{
        font-size: 2rem;
    }

}

.margin{
    margin: 3rem 10rem;
}

.photo-width{
    max-width: 80%;
}

.min-width{
    min-width: 300px;
}

@media(max-width:600px){
    .margin {
        margin:3rem auto;
    }
}

@media(max-width:580px){
    .padding{
        padding: 0 !important;
    }
}