@page
@model CarStore.Pages.NotFoundModel
<div class="text-center">
    <h2 class="text-danger">The resource can not be found</h2>

    <a asp-page="/Products/index" class="btn btn-dark">Back to Car section</a>
</div>
